.DS_Store
._.DS_Store

.vscode/**/*
.idea/**/*

RemoteSystemsTempFiles/**/*
.jxbrowser-data/**/*
.metadata/**/*
dvt/**/*

**/*/Debug/**/*
**/*/Releaise/**/*
**/*/.xdhelp
**/*/.config/**/*
**/*/.launches/**/*

/.metadata/
